body {
  font-family: "Century Gothic", 'CenturyGothic', 'AppleGothic', sans-serif;
}

.cell {
  margin-bottom: 1rem;
}

.cell > .source-code {
  margin-bottom: 0;
}

.cell-output > pre {
  margin-bottom: 0;
}

.cell-output > pre, .cell-output > .source-code > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid lightsalmon;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output > .source-code {
  border: none;
}

.cell-output > .source-code {
  background: none;
  margin-top: 0;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 135%;
  opacity: 0.7;
}
