name: Testing

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:  # make is manually start-able

jobs:
  test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        id: setup-miniforge
        continue-on-error: true
        with:
          python-version: '3.10'
          miniforge-version: latest
          activate-environment: MPP
          use-mamba: true
          channels: conda-forge,defaults
          channel-priority: strict

      - name: Retry Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        if: steps.setup-miniforge.outcome == 'failure'
        with:
          python-version: '3.10'
          miniforge-version: latest
          activate-environment: MPP
          use-mamba: true
          channels: conda-forge,defaults
          channel-priority: strict

      - name: Install environment
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install --editable ".[all]"
          pip install pytest pytest-cov

      - name: Run tests
        shell: bash -l {0}
        run: |
          cd tests
          pytest --cov=../glycowork --cov-config=../.coveragerc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
